<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Booked appointments</title>
</head>
<body>
    {% if messages %}
        <ul class="messages">
            {% for message in messages %}
                <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}
    {% for appointment in appointments %}
        <div>
            <fieldset>
                <h3>Inviter: {{ appointment.inviter }}</h3>
                <h4>Time: {{ appointment.date }} {{ appointment.time_slot }} </h4>
                <p>{{ appointment.title }}</p>
                <p>{{ appointment.context }}</p>
            </fieldset><br>
        </div>
    {% endfor %}
</body>
</html>