<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Booked appointments</title>
</head>
<body>
    {% for appointment in appointments %}
    <fieldset>
        <h3>{{ appointment.inviter }} requested an appointment with you</h3>
        <h4>Time: {{ appointment.date }} {{ appointment.time_slot }} </h4>
        <p>{{ appointment.title }}</p>
        <p>{{ appointment.context }}</p>
        <a href="{% url 'cancel' appointment.id %}"><button>Cancel</button></a>
    </fieldset><br>
    {% endfor %}
</body>
</html>