
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Your Time Slots</title>
</head>
<body>
    {% if messages %}
        <ul class="messages">
            {% for message in messages %}
                <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}
    {% for timeslot in timeslots %}
        <div>
            <fieldset>
                <h3>{{ timeslot.name }}</h3>
                <h4>{{ timeslot.day }}</h4>
                <h4>{{ timeslot.time }}</h4>

                <a href="{% url 'setschedule' timeslot.id %}"><button>Set Schedule for this TimeSlot</button></a>
            </fieldset><br>
        </div>
    {% endfor %}
</body>
</html>